.category {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    height: 320px;
    overflow: hidden;
    width: 100%;

    .slide {
        display: flex;
        width: calc(100vw - 100px);
        margin-left: 50px;
        margin-right: 50px;
        overflow: hidden;
        justify-content: space-around;

        .movie_bloc {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            position: relative;

            .movie {
                transition: 0.5s;
                position: relative;
                z-index: 3;
                overflow: visible;
                height: 320px;
                background-color: $main_bg_color;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .space_between {
                width: 50px;
                min-width: 50px;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}